
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load staticfiles %}
<section style="background-color:hsl(0, 0%, 47%);">

{% block body %}

{% endblock %}

{% block title %}
    <h1 style="color:rgb(255,223,0);"">try again? or join us? </h1>

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <p>you can go to home page by clicking here</p>
       <a href="{% url 'blog_list' %}">home</a>
    <p>you can logout by clicking here</p>
       <a href="{% url 'logout' %}">logout</a>


{% else %}
  <p>You are not logged in</p>
  <a style="color:rgb(255,223,0);" href="{% url 'login' %}">login</a>
  <p>you dont have account?</p>
   <a style="color:rgb(255,223,0);" href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
</section>